*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
.container{
    padding: 2rem 1rem;
    max-width:700px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    border: 1px solid #000;
}
.input-wrapper{
    padding: 2rem;
    display: flex;
    justify-content: center;
}
.search-input{
    height: 40px;
    outline: none;
    padding: 0 0.5rem;
    width: 100%;
    text-transform: capitalize;
    caret-color: red;
}
.all-cities{
display: flex;
justify-content: space-around;
width: 100%;
flex-wrap: wrap;
}
 li{
    width: 23%;
    padding: 1rem;
    border: 1px solid red;
    margin: 0.5rem 0;
    text-transform: capitalize;
    font-family: sans-serif;
    text-align: center;
    transition: 0.7s;
    border-radius: 2px;
    cursor: pointer;
}
li:hover{
    border: 1px solid grey;
}